base_dir = "/projects/MRC-IEU/research/projects/icep2/wp3/004/working"
if (params.pipeline == 'picard') 
{
params.data = "${base_dir}/data/epic_raw/"
params.reads = "${params.data}/*_R{1,2}*.fastq.gz"
params.genome_folder = "${base_dir}/scripts/reference/hg19.fa"
params.panel = "${base_dir}/data/blood_cell_types_extended.bed"
params.outdir = "${base_dir}/results/epic/picard_results"
params.samtools_path="/usr/local/bin/"
} 
else if (params.pipeline == 'bismark') 
{
params.data = "${base_dir}/data/epic_raw/"
params.reads = "${params.data}/*_R{1,2}*.fastq.gz"
params.genome_folder = "${base_dir}/scripts/reference/"
params.outdir = "${base_dir}/results/epic/results/bismark_results"
params.samtools_path="/usr/local/bin/"
params.u_param = "" 
params.t_param = ""
params.multicore = ""
params.cores = ""
}

workDir = "${base_dir}/results/epic/${params.pipeline}_cache"

executor {
    $local {
        cpus = 80
        memory = '512 GB'
        queueSize = 25      
        queueStatInterval = '180 min'
    }
}
process {
    errorStrategy = 'retry'
    maxRetries = 100
    maxForks = 3
    scratch = false
    container = "file://${base_dir}/scripts/reference/dnam_cancer_pipeline_latest.sif"
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /projects:/projects -B \${HOME}:\${HOME} -B \${baseDir}:\${baseDir} -B \${SINGULARITY_TMPDIR}:/tmp"
    overlay = '--writable'
    env = [
        'OPENBLAS_NUM_THREADS': '48',
        'MKL_NUM_THREADS': '48'
    ]
}
