if (params.pipeline == 'picard') 
{

params.reads = ""
params.genome_folder = ""
params.intervals = ""
params.outdir = 'Picard_Results'
params.scripts= "${projectDir}"
} 

else if (params.pipeline == 'bismark') 

{
params.reads = ""
params.genome_folder = ""
params.outdir = "Bismark_Results"
params.u_param = "" 
params.t_param = ""
params.memory_param = "" 
params.multicore= ""
params.cores= ""
params.scripts= "${projectDir}"
} 

process {
    executor = 'slurm'
    queue = 'test'
    clusterOptions = '--mem= --account= --ntasks-per-node= --job-name=' 
    scratch = true
    maxForks = 100
    queueSize = 100
    container = 'file:///*local_path*/dnam_cancer_pipeline_latest.sif'
}


singularity {
    enabled = true
    autoMounts = true
    runOptions = '--writable-tmpfs -B ${baseDir}:${baseDir} -B \${SINGULARITY_TMPDIR}:/tmp'
    cacheDir = '${workDir}'
    overlay= '--writable'
    env = [ 'SINGULARTY_BIND' : "${baseDir}" ]
   
}

