if (params.pipeline == 'picard') 
{

params.reads = ""
params.genome_folder = ""
params.intervals = ""
params.outdir = 'Picard_Results'
} 

else if (params.pipeline == 'bismark') 

{
params.reads = ""
params.genome_folder = ""
params.outdir = "Bismark_Results"
params.u_param = "" 
params.t_param = ""
params.memory_param = "" 
params.multicore= ""
params.cores= ""
} 

process {
    executor = 'slurm'
    queue = 'test'
    clusterOptions = '--mem= --account= --ntasks-per-node= --job-name=' 
    scratch = true
    maxForks = 100
    queueSize = 100
}
