if (params.pipeline == 'picard') 
{

params.data="/projects/MRC-IEU/research/projects/icep2/wp3/004/working/data/epic_raw/"
params.reads = "${params.data}/*_R{1,2}*.fastq.gz"
params.genome_folder = '/projects/MRC-IEU/research/projects/icep2/wp3/004/working/scripts/reference/hg19.fa'
params.panel = "/projects/MRC-IEU/research/projects/icep2/wp3/004/working/data/blood_cell_types_extended.bed"
params.outdir = '/projects/MRC-IEU/research/projects/icep2/wp3/004/working/results/epic/Picard_Results'
params.scripts= "${projectDir}"
} 

else if (params.pipeline == 'bismark') 

{
params.data="/projects/MRC-IEU/research/projects/icep2/wp3/004/working/data/epic_raw/"
params.reads = "${params.data}/*_R{1,2}*.fastq.gz"
params.genome_folder = "/projects/MRC-IEU/research/projects/icep2/wp3/004/working/scripts/reference/"
params.outdir = "/projects/MRC-IEU/research/projects/icep2/wp3/004/working/results/epic/results/Bismark_Results"
params.u_param = "" 
params.t_param = ""
params.memory_param = "" 
params.multicore= ""
params.cores= ""
params.scripts= "${projectDir}"
} 

process {   
    scratch = false
    container = 'file:///projects/MRC-IEU/research/projects/icep2/wp3/004/working/scripts/reference/dnam_cancer_pipeline_latest.sif'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--writable-tmpfs -B ${baseDir}:${baseDir} -B \${SINGULARITY_TMPDIR}:/tmp'
    cacheDir = '${workDir}'
    overlay= '--writable'
    env = [ 'SINGULARTY_BIND' : "${baseDir}" ]
   
}
